<!DOCTYPE html>
<html lang="en">

{{ template "head.html" . }}

<body>
    {{ template "nav.html" . }}
    {{ template "header.html" . }}
    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                {{range .feature}}
                {{ template "feature.html" . }}
                {{end}}
            </div>
        </div>
    </section>
    {{ template "footer.html" . }}
    {{ template "commonjs.html" . }}
</body>

</html>